ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  padding: 10px;
  width: 250px;
  max-width: 250px;
  max-height: 400px;
  margin-bottom: 1rem;
}

.card {
  margin: auto;
  padding: 3px;
  width: 100%;
  /* max-height: 400px; */
  box-shadow: 5px 5px 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > img {
  width: 100%;
  max-height: 200px;
}

.card > article {
  padding: 5px;
}

.card h3 {
  padding: 4px;
}

.card p {
  padding: 3px;
}
